body {
  margin: 0 auto;
  font-family: serif;
}

.hi-div {
    text-align: center;
    margin-top: 200px;
}
.hi-div p {
    font-size: 60px;
    text-decoration-line: overline;
}

.t3 {
text-align: center;
}
.input1{
    margin-bottom: 20px;
}
.input2 {
    margin-bottom: 20px;
}